name: Manual Deploy to Production

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Select branch to deploy to production"
        required: true
        default: "main"
        type: choice
        options:
          - main
          - vue-test

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: manual-pages
  cancel-in-progress: true

jobs:
  build-and-deploy:
    environment:
      name: github-pages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - run: npm ci
      - run: npm run build
        env:
          VITE_BASE: "/"

      - uses: actions/configure-pages@v4

      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

      - id: deployment
        uses: actions/deploy-pages@v4
